th, td {
    border: 1px solid rgb(0, 0, 0);
    padding: 0.5em;
    font-size: 32px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
	
}


th {
    background-color: rgb(43, 146, 160);
	border-radius: 5px;
	padding: 25px;
	width: 200px;
	height: 50px;
}
tr:nth-child(even) {
    background-color: #114e9e;
  }
  .gradient_bg {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
	height: 100vh;
}
@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
 
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-positbion: 0% 50%;
	}
}
tr {
    background-color:rgb(94, 42, 161);
}


.center {
    margin: auto;
  }
  th, td {
	border-radius: 25px;
  }
  h1 {
	font-family:'Courier New', Courier, monospace;
	text-align: center;
  }